$color-base:           #464749;
$color-back:           #fff;
$color-brand:          #27aadd;
$color-selection:      #fff;
$color-selection-back: $color-brand;

$font-face: Georgia, Cambria, "Times New Roman", Times, serif;

$base-unit: 16px;
$bu: $base-unit;

$line-width: 580px;

$font-size:   18px;
$line-height: 1.5;
